<!-- templates/users/home.html -->
{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome, {{user.first_name.title|default:'Guest'}}</h1>

        <form id="questionForm" action="{% url 'respond_to_question' %}" method="POST" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="form-container">
                {% for question in questions %}
                    <div class="mb-3 question">
                        <label class="question-text">{{ question.text }}</label><br>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="response_{{ question.id }}" id="true_{{ question.id }}" value="True" required>
                            <label class="form-check-label" for="true_{{ question.id }}">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="response_{{ question.id }}" id="false_{{ question.id }}" value="False" required>
                            <label class="form-check-label" for="false_{{ question.id }}">No</label>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="buttons">
                <button type="submit" class="btn btn-success" id="submitBtn">Submit Responses</button>
            </div>
        </form>

        <hr class="my-4">
        <p class="lead">
            {% if user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Logout</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
            {% endif %}
        </p>
    </div>
{% endblock content %}
